.book-of-the-week {
    width: 98%;
    height: fit-content;
    border-radius: 12px;
    padding: 16px;
    box-shadow: var(--box-shadow);
    background-color: var(--background-primary);
    margin-top: 5px;
}

.book-info-fade {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.book-info-fade-in {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}