@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%; 
    }
    50% {
        background-position: 100% 50%; 
    }
    100% {
        background-position: 0% 50%; 
    }
}

.splash-screen {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(270deg, #133a94, #ef745c, #ad336d);
    background-size: 400% 400%;
    animation: gradientAnimation 4s ease infinite;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 9999;
  }
  
  .logo-icon-1 {
    animation: draw-logo 10s ease-out forwards;
    color: white;
  }
  
  @keyframes draw-logo {
    0% {
      stroke-dasharray: 50;
      stroke-dashoffset: 50;
    }
    100% {
      stroke-dasharray: 200;
      stroke-dashoffset: 0;
    }
  }
  
  .splash-title {
    font-family: 'Georgia', serif;
    color: #ffffff;
    font-size: 5rem;
    margin-top: 20px;
    opacity: 0;
    animation: fade-in 2s ease forwards;
    animation-delay: 1.2s;
  }
  
  @keyframes fade-in {
    to {
      opacity: 1;
    }
  }
  